<mat-toolbar color="primary">
  <mat-toolbar-row>
      <img *ngIf="true" id="logo" matTooltip="iGotTheRuns" matTooltipDisabled="true" src="assets/runnermale.png" height="60" [style.order]="1" />
      <span id="logo_text" matTooltip="iGotTheRuns" matTooltipDisabled="true" [style.cursor]="default"
          [ngClass]="{'noselect': true}" [style.order]="2">{{ title }}</span>
      <span class="flex-spacer" [style.order]="7"></span>
      <!--<art-icon (dispatch)="onDispatch($event)" *ngFor="let icon of headerConfig?.icons" [icon]="icon" [style.order]="icon.order"></art-icon>-->
  </mat-toolbar-row>
</mat-toolbar>
